* {
  margin: 0;
  padding: 0;
  font-family: Source Code Pro, Verdana, sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#full-name {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
}

#user-info {
  display: flex;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.trybewarts-header-logo {
  height: 75px;
}

.trybewarts-login {
  display: flex;
  align-self: center;
}

.trybewarts-login input {
  margin: 0 5px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.trybewarts-login button {
  padding: 10px;
  margin: 0 5px;
  border-radius: 10px;
  border: none;
  background-color: rgb(89, 31, 9);
  color: rgb(251, 250, 250);
}

.container-select-markers {
  display: flex;
}

.container-select-markers div {
  margin-right: 20px;
}
