* {
  margin: 0;
  padding: 0;
  font-family: Source Code Pro, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
}

main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 60px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(50, 167, 145);
}

#form-container {
  display: flex;
  max-width: 60%;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#evaluation-form div h2 {
  text-align: center;
  margin: 5px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#user-info {
  display: flex;
}

#full-name {
  display: flex;
}

#house {
  cursor: pointer;
}

#label-family label , input {
  cursor: pointer;
}

#label-content label , input {
  cursor: pointer;
}

#label-rate label , input {
  cursor: pointer;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.label-rate {
  display: flex;
  flex-flow: row nowrap;
}

.trybewarts-header-logo {
  height: 75px;
  margin: 0 5px;
}

.trybewarts-login {
  display: flex;
  align-self: center;
}

.trybewarts-login input {
  margin: 0 5px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.trybewarts-login button {
  padding: 10px;
  margin: 0 5px;
  border-radius: 10px;
  border: none;
  background-color: rgb(89, 31, 9);
  color: rgb(251, 250, 250);
}

.container-select-markers {
  display: flex;
}

.container-select-markers div {
  margin-right: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

@media screen and ( max-width : 1254px ) {

  body {
    align-items: center;
  }

  header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 675px;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 675px;
  }

  .logo-container {
    display: flex;
    justify-content: center;
  }

  .trybewarts-header-logo {
    width: 200px;
    height: 200px;
  }

  #trybewarts-form-logo {
    align-items: center;
  }
}

@media screen and ( max-width : 1567px ) and ( min-width : 1254px ) {

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
